@using BrandShop.Business.DTOs.HomeDto
@using BrandShop.Core.Entities
@{
    ViewData["Title"] = "BrandBaku - Ana Səhifə";
}

@model HomeIndexDto

<section id="hero" class="d-flex align-items-center" style="background-image: url('/uploads/hero/@Model.Heroes?.BackgroundImage');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                <div class="hero-text">
                    <div class="header">
                        <h2>@Model.Heroes.Title</h2>
                    </div>

                    <div class="desc">
                        <p>@Model.Heroes.Description</p>
                    </div>

                    <div class="linkBtn">
                        <a href="@Model.Heroes.BtnLink">@Model.Heroes.BtnText</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="hero-image">
                    <img src="~/uploads/hero/@Model.Heroes?.Image" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<main id="home">

    <section id="options">
        <div class="container p-0">
            <div class="row">
                <div class="col-12">
                    <div class="menu d-flex justify-content-center ">
                        <ul class="nav nav-pills d-flex justify-content-lg-end justify-content-center align-items-center"
                            id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-trend-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-trend" type="button" role="tab"
                                        aria-controls="pills-trend" aria-selected="true">
                                    Trend
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-best-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-best" type="button" role="tab" aria-controls="pills-best"
                                        aria-selected="false">
                                    Ən çox satan
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-smart-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-smart" type="button" role="tab"
                                        aria-controls="pills-smart" aria-selected="false">
                                    Ağıllı
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show trend active" id="pills-trend" role="tabpanel"
                     aria-labelledby="pills-trend-tab">
                    <div class="owl-carousel owl-theme owl-carousel-trending mt-5">
                        @foreach (Product trendProd in @Model.IsTrendProd.Where(x => x.Brand.IsDeleted == false))
                        {
                            <div class="item">
                                <div class="product">
                                    <img src="~/uploads/products/@trendProd.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                                    <div class="product-info">
                                        <div class="name">
                                            <h3>@trendProd.Brand.Name</h3>
                                        </div>

                                        <div class="model">
                                            <h4>@trendProd.Model</h4>
                                        </div>

                                        <div class="btns">
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#"><i class='bx bx-cart-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-show-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-heart'></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="price">
                                            <div class="sale-price">
                                                @trendProd.SalePrice <span>₼</span>
                                            </div>

                                            <div class="discount-price">
                                                @(trendProd.SalePrice - ((trendProd.SalePrice * trendProd.DiscountPercent) / 100)) <span>₼</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="tab-pane fade show best" id="pills-best" role="tabpanel"
                     aria-labelledby="pills-best-tab">
                    <div class="owl-carousel owl-theme owl-carousel-best mt-5">
                        @foreach (Product bestProd in Model.IsBestProd.Where(x => x.Brand.IsDeleted == false || x.IsDeleted == false))
                        {
                            <div class="item">
                                <div class="product">
                                    <img src="~/uploads/products/@bestProd.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                                    <div class="product-info">
                                        <div class="name">
                                            <h3>@bestProd.Brand.Name</h3>
                                        </div>

                                        <div class="model">
                                            <h4>@bestProd.Model</h4>
                                        </div>

                                        <div class="btns">
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#"><i class='bx bx-cart-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-show-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-heart'></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="price">
                                            @if (bestProd.DiscountPercent > 0)
                                            {
                                                <div class="sale-price">
                                                    @bestProd.SalePrice <span>₼</span>
                                                </div>
                                            }


                                            <div class="discount-price">
                                                @(bestProd.SalePrice - ((bestProd.SalePrice * bestProd.DiscountPercent) / 100)) <span>₼</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="tab-pane fade show smart" id="pills-smart" role="tabpanel"
                     aria-labelledby="pills-smart-tab">
                    <div class="owl-carousel owl-theme owl-carousel-smart mt-5">
                        @foreach (Product smartProd in Model.IsSmartProd)
                        {
                            <div class="item">
                                <div class="product">
                                    <img src="~/uploads/products/@smartProd.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                                    <div class="product-info">
                                        <div class="name">
                                            <h3>@smartProd.Brand.Name</h3>
                                        </div>

                                        <div class="model">
                                            <h4>@smartProd.Model</h4>
                                        </div>

                                        <div class="btns">
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#"><i class='bx bx-cart-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-show-alt'></i></a>
                                                </li>

                                                <li>
                                                    <a href="#"><i class='bx bx-heart'></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="price">
                                            <div class="sale-price">
                                                @smartProd.SalePrice <span>₼</span>
                                            </div>

                                            <div class="discount-price">
                                                @(smartProd.SalePrice - ((smartProd.SalePrice * smartProd.DiscountPercent) / 100)) <span>₼</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="discounts">
        <div class="container p-0">
            <div class="row p-5 align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="header">
                        <h1>@Model.Discounteds.Title</h1>
                    </div>

                    <div class="desc">
                        <p>@Model.IsDiscProd.Description</p>
                    </div>

                    <div class="price">
                        @(Model.IsDiscProd.SalePrice - (Model.IsDiscProd.SalePrice * Model.IsDiscProd.DiscountPercent / 100))<span class="unit">₼</span><span class="line">/</span><span class="brand">@Model.IsDiscProd.Brand.Name</span>
                    </div>

                    <div class="date">
                        <span class="start-date">@Model.Discounteds.StartDate</span> <span class="pe-1 ps-1">-</span> <span class="end-date">@Model.Discounteds.EndDate</span>
                    </div>

                    <div class="shopBtn">
                        <a asp-controller="Product" asp-action="Detail" asp-route-Id="@Model.IsDiscProd.Id">
                            @Model.Discounteds.BtnText
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                    <div class="image">
                        <img src="~/uploads/products/@Model.IsDiscProd.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial">
        <div class="row">
            <div class="col-lg-12">
                <div class="header d-flex justify-content-center align-items-center">
                    <h1>Müştərilərimizin rəyləri</h1>
                </div>
            </div>
        </div>
        <div class="slider">
            <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
            <input type="radio" name="slider" title="slide2" class="slider__nav" />
            <input type="radio" name="slider" title="slide3" class="slider__nav" />
            <input type="radio" name="slider" title="slide4" class="slider__nav" />
            <div class="slider__inner">
                <div class="slider__contents">
                    <i class="slider__image fa fa-codepen"></i>
                    <h2 class="slider__caption">codepen</h2>
                    <p class="slider__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate
                        omnis possimus illo quos, corporis minima!
                    </p>
                </div>
                <div class="slider__contents">
                    <i class="slider__image fa fa-newspaper-o"></i>
                    <h2 class="slider__caption">newspaper-o</h2>
                    <p class="slider__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate
                        omnis possimus illo quos, corporis minima!
                    </p>
                </div>
                <div class="slider__contents">
                    <i class="slider__image fa fa-television"></i>
                    <h2 class="slider__caption">television</h2>
                    <p class="slider__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate
                        omnis possimus illo quos, corporis minima!
                    </p>
                </div>
                <div class="slider__contents">
                    <i class="slider__image fa fa-diamond"></i>
                    <h2 class="slider__caption">diamond</h2>
                    <p class="slider__txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate
                        omnis possimus illo quos, corporis minima!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="liked">
        <div class="container p-0">
            <div class="like-header d-flex justify-content-center">
                <h1>Bəyənə biləcəkləriniz</h1>
            </div>

            <div class="products">
                <div class="owl-carousel owl-theme owl-carousel-like mt-5">

                    @foreach (Product like in Model.IsLiked)
                    {
                        <div class="item">
                            <div class="product">
                                <img src="/assets/images/T006.407.11.043.00_R_1.webp" alt="">
                                <div class="product-info">
                                    <div class="name">
                                        <h3>@like.Brand.Name</h3>
                                    </div>

                                    <div class="model">
                                        <h4>@like.Model</h4>
                                    </div>

                                    <div class="btns">
                                        <ul class="d-flex">
                                            <li>
                                                <a href="#"><i class='bx bx-cart-alt'></i></a>
                                            </li>

                                            <li>
                                                <a href="#"><i class='bx bx-show-alt'></i></a>
                                            </li>

                                            <li>
                                                <a href="#"><i class='bx bx-heart'></i></a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="price">
                                        <div class="sale-price">
                                            @like.SalePrice <span>₼</span>
                                        </div>

                                        <div class="discount-price">
                                            @(like.SalePrice - ((like.SalePrice * like.DiscountPercent) / 100)) <span>₼</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container p-0">
            <div class="row">
                @foreach (Service service in Model.Services)
                {
                    <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-lg-center justify-content-md-start">
                        <div class="item d-flex align-items-center justify-content-center">
                            <div class="icon">
                                @Html.Raw(service.Icon)
                            </div>

                            <div class="desc">
                                <div class="header">
                                    <h3>@service.Title</h3>
                                </div>

                                <div class="text">
                                    <p>@service.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>


</main>



@if (User.Identity.IsAuthenticated)
{
    <section id="questions">
        <div class="questionBox">
            <button type="button" data-bs-toggle="modal" class="p-0" data-bs-target="#staticBackdrop">
                <i class='bx bxs-chat bx-flip-horizontal'></i>
            </button>
            <!-- <a href="#"></a> -->
        </div>
    </section>
}

<section id="upPage">
    <div class="upPageBox">
        <a href="#"><i class='bx bxs-chevrons-up'></i></a>
    </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    @await Html.PartialAsync("_MemberQuesitionPartial", Model.Question)
</div>
